* {
	font-family: Comic Sans MS;
}

h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 72px;
}
#montra  {
	font-weight: bolder;
	font-size: 36px;
    background: -webkit-linear-gradient(#FFFF02, #FF0202);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}
.mission {
	margin: auto;
}
#FHamburger {
	padding: 10px;
	background: -webkit-linear-gradient(#FFFF02, #FF0202);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#squirrel {
	font-weight: bolder;
	color: red;
	text-align: center;
}
#video {
	padding: 30px;
}
.Burgers {
	font-weight: bold;
	text-align: center;
	margin-left: -50px;

}
#Subtitle {
	padding: 10px;
	background: -webkit-linear-gradient(#FF0202, #FFFF02);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fourthItem {
	display: block;
  margin-left: auto;
  margin-right: auto;
}
#combos {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.imported-stuff-follows {

}

body {
	background-color: #937B5F;
}


.jumbotron {
	

}

.jumbotron h1 {
	position: absolute;
	top:18;
	left:0;
	padding-left: 20px;
	color: #F7FAFE;
}

.mission {
	background-color: #323232;
	color: #F7FAFE;
	margin-top: 30px;
	
}

.mission h3 {
	font-family:'Raleway' 'sans-serif';
	padding: 20px;
	padding-bottom: 40px;
	text-align: center;
	position: center;

}

.order-button {
  margin: auto;
  width: 25%;
  padding: 10px;
}


.features {
	padding: 5px;
}

.features p {
	font-family: 'Muli' 'sans-serif';
	text-align: center;
	color:#323232;
	font-size: 1.2em;
	padding: 20px;
}


footer {
	background-color: #D64541;
	position: center;
	width: 100%;
	height: auto;
}

footer ul li {
	display: inline-block;
	list-style: none;
	float: right;
	
}

footer p {
	float: center;
}

footer a,
footer p {

	color:#fff;
	vertical-align: middle;


}
.order-form .container {
      color: #000000;
      padding: 20px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    }

    .order-form-label {
      margin: 8px 0 0 0;
      font-size: 14px;
      font-weight: bold;
    }

    .order-form-input {
      width: 100%;
      padding: 8px 8px;
      border-width: 1px !important;
      border-style: solid !important;
      border-radius: 3px !important;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      font-style: bold;
      line-height: 1.2em;
      background-color: transparent;
      border-color: #cccccc;
    }

    .btn-submit:hover {
      background-color: #090909 !important;
    }


/********************
MEDIA QUERIES
********************/
@media screen and (max-width: 776px) {
	.features img {
		max-width: 90%;
		margin: auto;
	}
